.vertical-center {
  margin-top: 15%;
}
.card {
  border-radius: 0rem;
}
.card-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.flex-container {
  width: 100%;
  margin-top: 50px;
  justify-content: space-between; /* Spreads the options to end of the box*/
}
.option {
  width: 45%;
  margin-bottom: 30px;
  cursor: pointer;
}
