.vertical-center {
  margin-top: 10%;
}
.card {
  border-radius: 0rem;
  padding: 15px;
}
.card-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 22px;
}
.flex-container {
  width: 100%;
  margin-top: 50px;
  justify-content: space-between; /* Spreads the options to end of the box*/
}
.option {
  width: 45%;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 17px;
}
.correctOption {
  background-color: #00cc00;
}
.wrongOption {
  background-color: #ff1a1a;
}
.modal-content {
  border-radius: 0em;
  text-align: center;
}
.modal-header {
  border-radius: 0em;
  color: white;
}
.modal-title {
  width: 850px;
}
.close {
  padding-left: 0px !important;
}
.modalBody {
  font-size: 20px;
}
.startButton {
  border-radius: 0em;
}
