.vertical-center {
  margin-top: 10%;
}
.card {
  border-radius: 0rem;
  padding: 15px;
}
.card-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.flex-container {
  width: 100%;
  margin-top: 50px;
  justify-content: space-between; /* Spreads the options to end of the box*/
}
.option {
  width: 45%;
  margin-bottom: 30px;
  cursor: pointer;
}
.correctOption {
  background-color: #00cc00;
}
.wrongOption {
  background-color: #ff1a1a;
}
.modalTitle {
  font-family: "Times New Roman", Times, serif;
  width: auto;
}
.close {
  padding-left: 0px !important;
}
.modalBody {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
